/* REMINDER FOR MARGIN, ETC. SIZING: Size order is clockwise */

* {
  font-family: Courier, monospace;
  font-size: 16px;
}

body {
  background-color: #3b4252;
  color: #eceff4;
  line-height: 1.4;
}

h3 {
  font-size: 150%;
  text-decoration: underline;
}

h2 {
  text-align: center;
  text-decoration: none;
  font-size: 200%;
  font-style: normal;
}

h1 {
  text-decoration: none;
  font-size: 3.5em;
}

a:link {
  text-decoration: none;
  color: #d8dee9;
  font-style: italic;
}

a:visited {
  text-decoration: none;
  color: #e5e9f0;
}

a:hover {
  text-decoration: underline;
  line-height: 1.4em;
  color: #555;
}

.border {
  border-width: 0.5em;
  border-color: #4c566a;
  background-color: #2e3440;
  border-style: solid;
  margin: 0 auto;
  padding: 1em 2em 1em 2em;
  width: 40em;
}

#title {
  text-align: center;
}

#neo {
	margin-left: 100%;
}

#code {
  font-weight: bold;
  border-width: 0.2em;
  border-color: #777;
  border-style: solid;
  background-color: #777777;
  color: #E5E5E5;
}

#indent {
  padding-left: 2em;
}

#indent2 {
  padding-left: 4em;
}

#indent3 {
  padding-left: 6em;
}

#post {
  border-width: 0.25em;
  border-color: #777;
  border-style: solid;
  background: #bbb;
  padding: 1em 1em 1em 1em;
}

#sublist {
  margin-left: 6em;
  position: absolute;
}

#social {
  text-align: center;
  font-size: 120%;
  text-decoration: none;
}
